body {
  background: #1f1f1f;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Bangers', cursive;  
  text-transform: uppercase;
  text-align: center;
}

header {
  background: #d93b2b;
  text-align: center;
  padding: 20px;  
}

iframe {
  display: block;
  margin: 50px auto;  
  border: 10px solid #d93b2b;
  box-shadow: 0px 0px 10px #d93b2b;
}

ul {
  background: #d93b2b;
  list-style: none;
  text-align: left;
  padding: 20px;
}  

li::before {
  content: "⚡ "; 
  color: #333;
}

button {
  background: #d93b2b;
  color: white;  
  padding: 15px 30px; 
  border: none;
  font-size: 18px;
}

body {
      font-family: Arial;  
      color: #333;
    }
    
    img {
      max-width: 100%;